.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input {
    flex-grow: 1;
    background-color: var(--light);
    border: 3px solid var(--darker);
    border-radius: 15px;
    padding: 0.5rem;
    color: white;
    margin: 0.2rem;
    font-size: large;
}

.input:focus {
    outline: none;
    border: 3px solid var(--dark);
}

.button {
    border: 0;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: var(--confirm);
    border: 3px solid var(--confirm);
    color: var(--text-confirm);
    margin: 0.2rem;
    font-weight: bold;    
}
