.toast {
    width: 90%;
    height: 2em;
    overflow: hidden;
    z-index: 99;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 10px;
    transition: all 0.5s ease;
    opacity: 0%;
}

.shown {
    opacity: 100%;
}

.success {
    background-color: var(--confirm);
}
